.header {
  background-color: teal;
  color: beige;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currentExchange {
  display: flex;
  gap: 32px;
  font-size: 22px;
}

.currentExchange li {
  display: flex;
  gap: 8px;
}

.currencyLogo {
  width: 24px;
  height: 24px;
}

.currentExchange span {
  color: #fc8700;
}

.linksList {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.link {
  color: beige;
  transition: color 250ms linear;
}

.link:hover {
  color: #fc8700;
}
