.header {
  background-color: teal;
  color: beige;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 40px;
}

.currentExchange {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.link {
  color: beige;
  transition: color 250ms linear;
}

.link:hover {
  color: #fc8700;
}
